<!--sobreescreve o método post pelo método indicado dentro de _method=''
dessa forma conseguimos trabalhar com outros verbos http-->
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Mulish&family=Open+Sans:wght@700&family=Rosario&display=swap" rel="stylesheet"> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@600;700&family=Poppins&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://cdn.es.gov.br/fonts/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/styleRemove.css">
        <title><%= title%></title>
    </head>
    <body>

<%- include('include/navbar')%>
<main>

    <img src="/img/Inbox cleanup-rafiki.png" width="250" height="250" alt="">
    <form action="/remover/<%=id%>?_method=DELETE" method="POST">
        <div>
            <label for="">Deseja realmente remover?</label>
            <p>Você irá perder...</p>
            <ul>
                <li>Dia: <%= diaSemana%></li>
                <li>Hora Inicial: <%=horaIni%></li>
                <li>Hora Final: <%=horaFim%></li>
                <li>Conteúdo: <%= conteudo%></li>
            </ul>
            
        </div>
        <div id="botoes">
            <a type="button" href="/">Cancelar</a>
            <button> <i class="fa fa-trash-o"></i> Remover</button>
        </div>
    </form>
</main>
</body>
</html>